body {
  font-family: "Courier New", courier, monospace;
  letter-spacing: 0.15em;
  background-color: #efefef;
}
#page {
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px double #000;
  background-color: #ffffff;
  text-align:center;
}
#logo {
  /*position: relative;
  width: 150px;
  margin: 10px auto 25px 700px;*/
  width: 150px;
  display: inline;
}
#with_border {
  width: 870px;
  padding: 15px;
  margin: 0px auto 0px auto;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
}
li {
  display: inline;
  margin: 0px 3px;
}
#combo_pic {
  max-width: 870px;
}
.references {
  font-family: sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 0.75em;
  text-align: left;
}
p{
  text-align: center;
  width: 800px;
  margin: 20px auto 20px auto;
  font-weight: normal;
}
a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 18px 5px 18px;
}
a:hover, a.on {
  color: #cc3333;
  background-color: #ffffff;
}
#services_list{
text-align: left;
margin-left: 355px;
}
#specifics {
  font-family:serif;
  text-align: left;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px double #000;
  background-color: #d3dfe0;
}
#specifics_details {
  margin-left: 220px;

}
.items {
  display:block;
}
h5 {
  font-style:italic;
  font-weight: 600;
  margin-left: 40px;
}
#menus {
  border: 2px solid black;
  color: blue;
  text-decoration: underline;
}
h4 {
  margin-bottom: -1em
}
#About_us {
  text-align: center;
}
#mission {
  text-align: left;
  width: 950px;
  font-family: sans-serif;
  font-style: italic;
  font-size: .9em;
}
